<div class="form-style-2">
    <div class="form-style-2-heading">Provide car details</div>
    <form action="" method="post">
        <!-- INPUT -->
        <!-- <label for="field1"><span>Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label> -->

        <!--<label for="field2"><span>Email <span class="required">*</span></span><input type="text" class="input-field" name="field2" value="" /></label> -->

        <!-- TELEPHONE -->
        <!-- <label><span>Telephone</span><input type="text" class="tel-number-field" name="tel_no_1" value="" maxlength="4" />-<input type="text" class="tel-number-field" name="tel_no_2" value="" maxlength="4"  />-<input type="text" class="tel-number-field" name="tel_no_3" value="" maxlength="10"  /></label> -->
        
        <!-- SELECT BOX  -->
        <!-- <label for="field4"><span>Regarding</span><select name="field4" class="select-field">
            <option value="General Question">General</option>
            <option value="Advertise">Advertisement</option>
            <option value="Partnership">Partnership</option>
        </select></label> -->

        <!-- TEXTAREA -->
        <!-- <label for="field5"><span>Message <span class="required">*</span></span><textarea name="field5" class="textarea-field"></textarea></label>

            SUBMIT
        <label><span> </span><input type="submit" value="Submit" /></label> -->

        <label for="field4"><span>Brand <span class="required">*</span></span><select name="field4" class="select-field">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Audi">Audi</option>
            <option value="BMW">B.M.W</option>
            <option value="Mercedes">Mercedes</option>
            <option value="Alfa Romeo">Alfa Romeo</option>
            <option value="Renault">Renault</option>
            <option value="Dacia">Dacia</option>
            <option value="Volkswagen">Volkswagen</option>
            <option value="Nissan">Nissan</option>
            <option value="Opel">Opel</option>
            <option value="Skoda">Skoda</option>
            <option value="Toyota">Toyota</option>
            <option value="Honda">Honda</option>
            <option value="Ferrari">Ferrari</option>
            <option value="Lamborghini">Lamborghini</option>
        </select></label>

        <label for="field1"><span>Model <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>

        <label for="field1"><span>Engine size (cm<sup>3</sup>) <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>

        <label for="field1"><span>First registration <span class="required">*</span></span><input type="month" id="start" name="start"
            min="1960-01"></label>
        
        <label for="field4"><span>Fuel type <span class="required">*</span></span><select name="field4" class="select-field">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Petrol">Petrol</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Diesel">Diesel</option>
            <option value="Electric">Electric</option>
            <option value="GPL">GPL</option>
        </select></label>

        <label for="field4"><span>Transmission <span class="required">*</span></span><select name="field4" class="select-field">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Manual-gearbox">Manual gearbox</option>
            <option value="Semi-automatic">Semi-automatic</option>
            <option value="Automatic">Automatic</option>
        </select></label>

        <label for="field1"><span>Engine power (horsepower) <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>

        <label for="field1"><span>Mileage (km) <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>

        <label for="field4"><span>Emission Class <span class="required">*</span></span><select name="field4" class="select-field">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="EU1">EU1</option>
            <option value="EU2">EU2</option>
            <option value="EU3">EU3</option>
            <option value="EU4">EU4</option>
            <option value="EU5">EU5</option>
            <option value="EU6">EU6</option>
        </select></label>

        <label for="field1"><span>CO2 emissions (g/km) <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>

        <label for="field4"><span>Body type <span class="required">*</span></span><select name="field4" class="select-field">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="SUV">SUV</option>
            <option value="Coupe">Coupe</option>
            <option value="Saloon">Saloon</option>
            <option value="Van">Van</option>
            <option value="Cabriolet">Cabriolet</option>
            <option value="Estate-Car">Estate Car</option>
        </select></label>

        
    </form>
</div>