<div class="form-style-2">
    <div class="form-style-2-heading">Provide car details</div>
    <form action="" method="post">
        <!-- INPUT -->
        <!-- <label for="field1"><span>Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label> -->

        <!--<label for="field2"><span>Email <span class="required">*</span></span><input type="text" class="input-field" name="field2" value="" /></label> -->

        <!-- TELEPHONE -->
        <!-- <label><span>Telephone</span><input type="text" class="tel-number-field" name="tel_no_1" value="" maxlength="4" />-<input type="text" class="tel-number-field" name="tel_no_2" value="" maxlength="4"  />-<input type="text" class="tel-number-field" name="tel_no_3" value="" maxlength="10"  /></label> -->
        
        <!-- SELECT BOX  -->
        <!-- <label for="field4"><span>Regarding</span><select name="field4" class="select-field">
            <option value="General Question">General</option>
            <option value="Advertise">Advertisement</option>
            <option value="Partnership">Partnership</option>
        </select></label> -->

        <!-- TEXTAREA -->
        <!-- <label for="field5"><span>Message <span class="required">*</span></span><textarea name="field5" class="textarea-field"></textarea></label>

            SUBMIT
        <label><span> </span><input type="submit" value="Submit" /></label> -->

        <label for="field1"><span>Brand <span class="required">*</span></span><select [(ngModel)]="car.title.car_model" name="field1" class="select-field">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Audi">Audi</option>
            <option value="BMW">B.M.W</option>
            <option value="Mercedes">Mercedes</option>
            <option value="Alfa Romeo">Alfa Romeo</option>
            <option value="Renault">Renault</option>
            <option value="Dacia">Dacia</option>
            <option value="Volkswagen">Volkswagen</option>
            <option value="Nissan">Nissan</option>
            <option value="Opel">Opel</option>
            <option value="Skoda">Skoda</option>
            <option value="Toyota">Toyota</option>
            <option value="Honda">Honda</option>
            <option value="Ferrari">Ferrari</option>
            <option value="Lamborghini">Lamborghini</option>
        </select></label>

        <label for="field2"><span>Model <span class="required">*</span></span><input type="text" class="input-field" name="field2" value="" /></label>

        <label for="field3"><span>Engine size (cm<sup>3</sup>) <span class="required">*</span></span><input [(ngModel)]="car.title.car_engine_size" [(ngModel)]="car.car_details.car_specifications.engine_size" type="number" class="input-field" name="field3" value="" /></label>  

        <label for="field19"><span>Production year <span class="required">*</span></span><input [(ngModel)]="car.title.car_year" type="number" class="input-field" name="field7" value="" /></label>

        <label for="field5"><span>Fuel type <span class="required">*</span></span><select [(ngModel)]="car.title.car_fuel_type" [(ngModel)]="car.car_details.car_specifications.fuel_type"  name="field5" class="select-field">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Petrol">Petrol</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Diesel">Diesel</option>
            <option value="Electric">Electric</option>
            <option value="GPL">GPL</option>
        </select></label>

        <label for="field6"><span>Transmission <span class="required">*</span></span><select [(ngModel)]="car.title.car_transmission" [(ngModel)]="car.car_details.car_specifications.transmission_type" name="field6" class="select-field">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Manual-gearbox">Manual gearbox</option>
            <option value="Semi-automatic">Semi-automatic</option>
            <option value="Automatic">Automatic</option>
        </select></label>

        <label for="field7"><span>Engine power (horsepower) <span class="required">*</span></span><input [(ngModel)]="car.title.car_power" [(ngModel)]="car.car_details.car_specifications.power" type="number" class="input-field" name="field7" value="" /></label>

        <label for="field8"><span>Mileage (km) <span class="required">*</span></span><input [(ngModel)]="car.title.car_mileage" [(ngModel)]="car.car_details.car_specifications.mileage" type="number" class="input-field" name="field8" value="" /></label>

        <label for="field4"><span>First registration <span class="required">*</span></span><input [(ngModel)]="car.car_details.car_specifications.first_registration" type="month" id="start" name="start"
            min="1960-01"></label>

        <label for="field9"><span>Emission Class <span class="required">*</span></span><select [(ngModel)]="car.car_details.car_specifications.co2_emissions_standard" name="field9" class="select-field">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="EU1">EU1</option>
            <option value="EU2">EU2</option>
            <option value="EU3">EU3</option>
            <option value="EU4">EU4</option>
            <option value="EU5">EU5</option>
            <option value="EU6">EU6</option>
        </select></label>

        <label for="field10"><span>CO2 emissions (g/km) <span class="required">*</span></span><input [(ngModel)]="car.car_details.car_specifications.co2_emissions_minimum_value" type="number" class="input-field" name="field10" value="" /></label>

        <label for="field11"><span>Body type <span class="required">*</span></span><select [(ngModel)]="car.car_details.car_specifications.body_type" name="field11" class="select-field">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="SUV">SUV</option>
            <option value="Coupe">Coupe</option>
            <option value="Saloon">Saloon</option>
            <option value="Van">Van</option>
            <option value="Cabriolet">Cabriolet</option>
            <option value="EstateCar">Estate Car</option>
        </select></label>

        <label for="field23"><span>Number of doors <span class="required">*</span></span><input [(ngModel)]="car.car_details.car_specifications.doors" type="number" class="input-field" name="field23" value="" /></label>


        <label for="field24"><span>Number of seats <span class="required">*</span></span><input [(ngModel)]="car.car_details.car_specifications.number_of_places" type="number" class="input-field" name="field24" value="" /></label>

        <label for="field16"><span>Car VIN <span class="required">*</span></span><input [(ngModel)]="car.car_details.car_specifications.vin" type="text" class="input-field" name="field16" value="" /></label>


        <label for="field25"><span>Number of keys <span class="required">*</span></span><input [(ngModel)]="car.car_details.car_specifications.number_of_keys" type="number" class="input-field" name="field25" value="" /></label>

        <label for="field15"><span>Paint <span class="required">*</span></span><select [(ngModel)]="car.car_details.car_specifications.paint" name="field15" class="select-field">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
            <option value="Yellow">Yellow</option>
            <option value="Pink">Pink</option>
            <option value="Brown">Brown</option>
            <option value="Black">Black</option>
            <option value="White">White</option>
            <option value="Orange">Orange</option>
            <option value="Gray">Gray</option>
            <option value="Green">Green</option>
            <option value="Purple">Purple</option>
            <option value="Turquoise">Turquoise</option>
            <option value="Lime">Lime</option>
        </select></label>

        <label for="field20"><span>Pickup location <span class="required">*</span></span><input [(ngModel)]="car.car_details.car_origin.pickup_location" type="text" class="input-field" name="field20" value="" /></label>

        <label for="field21"><span>Country origin <span class="required">*</span></span><input [(ngModel)]="car.car_details.car_origin.country_origin" type="text" class="input-field" name="field21" value="" /></label>

        <label for="field22"><span>Selling Office <span class="required">*</span></span><input [(ngModel)]="car.car_details.car_origin.selling_office" type="text" class="input-field" name="field22" value="" /></label>


        <label for="field17"><span>Wanted Price (€) <span class="required">*</span></span><input [(ngModel)]="car.price" type="number" class="input-field" name="field17" value="" /></label>

        <label for="field18"><span>End of the auction <span class="required">*</span></span><input class="input-field" type="text" id="start" name="start"></label>
    </form>
</div>