<div class="navbar">
   
    
    <img class="logo" src="../../../assets/Site Licitatii.svg">

    <button *ngIf="!currentUserLoggedIn;else logOutButton" class="button login" (click)=" openLoginDialog()">Login</button>    

    <button  *ngIf="!currentUserLoggedIn;else myProfileButton" class="button" (click)=" openRegisterDialog()">Register</button>    

    <button class="button" routerLink="">Home</button>    
</div>

<ng-template #logOutButton>
    <button class="button login" (click)="LogOut()">Logout</button>    
</ng-template>

<ng-template #myProfileButton>
    <button  class="button" (click)=" goToMyProfile()">My Profile</button>
</ng-template>